/* Import base collapsible categories stylesheet */
@import url("../../all/theme/collapsiblecategories.css");

/* Styling overrides for DVGFX2 theme */

/* Collapse button */
.collapse-btn {
	margin-top: -26px;
	padding-right: 6px;
}

.rtl .collapse-btn {
	padding-left: 6px;
}
