/* Import base collapsible categories stylesheet */
@import url("../../all/theme/collapsiblecategories.css");

/* Styling overrides for CleanSilver theme */

/* Collapse button */
.collapse-btn {
	font-size: 1.4rem !important;
	margin-top: -20px;
}
