/* Import base collapsible categories stylesheet */
@import url('../../all/theme/collapsiblecategories.css');

/* Styling overrides for Orange_BBEs theme */

/* Collapse button */
.collapse-btn,
.collapse-btn:after,
.collapse-btn:before {
	background: #f6d075;
	border-color: #df9547;
}

.collapse-btn:hover,
.collapse-btn:hover:after,
.collapse-btn:hover:before {
	background-color: #f6f4d0;
}

/* Collapse show hide symbols */
.collapse-hide,
.collapse-show {
	border-radius: 3px;
}
