/* Import base collapsible categories stylesheet */
@import url('../../all/theme/collapsiblecategories.css');

/* Styling overrides for MyInvision theme */


/* Collapse button */
.collapse-btn {
	background-color: transparent;
	position: relative;
	display: block;
	float: right;
	box-sizing: border-box;
	margin: -20px 0px 0 0;
	border: none;
}

.collapse-btn:after,
.collapse-btn:before {
	background: #f8f8f8;
	border: none;
	font-family: FontAwesome;
	font-size: 25px;
}

.collapse-btn:hover,
.collapse-btn:hover:after,
.collapse-btn:hover:before {
	background-color: transparent; /* Button hover color */
	color: #007ed6;
}

/* Collapse show hide symbols */
.collapse-hide:after,
.collapse-show:before {
	top: 9px;
	left: 2px;
	content: '\f0d7';
}

.collapse-hide:before {
	content: '\f0d8';
	top: 7px;
	left: 2px;
}

.collapse-hide:after {
	content: '';
}
